.loading1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--secondary-color) #4c94d817 #4c94d817;
  animation: spin 0.6s ease infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: spin 0.6s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
